@model DemoMVC.Models.EMPDATA
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
Empno: @Model.EMPNO
Ename: @Model.ENAME
Job: @Model.JOB
Hiredate: @Model.HIREDATE
Mgr: @Model.MGR
Sal: @Model.SAL
Comm: @Model.COMM
Deptno: @Model.DEPTNO
