
@{
    ViewBag.Title = "SendObjectVB";
    var E = ViewData["emp1"] as DemoMVC.Models.Emp;
    var E1 = TempData["emp2"] as DemoMVC.Models.Emp;
}
Empno: @ViewBag.emp.Empno
<br />
Ename: @ViewBag.emp.Ename
Salary: @ViewBag.emp.Salary
<br />
Empno: @E.Empno
Ename:@E.Ename
Salary:@E.Salary
<br />
Empno: @E.Empno
Ename:@E.Ename
Salary:@E.Salary
<h2>SendObjectVB</h2>

